@page "/anioslectivos"

@inject IGenericService<AnioLectivo> anioLectivoService
@inject SweetAlertService SweetAlert

<PageTitle>Años Lectivos</PageTitle>
<h1>Años Lectivos</h1>

@if (aniosLectivos == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <NuevoEditarAnioLectivo anioLectivo="@currentAnioLectivo" OnCancelar="Cancelar" OnGuardar="Guardar" />
    <TableIdNombre ListEntity="@(aniosLectivos.Cast<IEntityIdNombre>().ToList())" OnEditar="Editar" OnEliminar="Eliminar" />
}

@code {
    private List<AnioLectivo> aniosLectivos;
    private AnioLectivo currentAnioLectivo;

    protected override async Task OnInitializedAsync()
    {
        aniosLectivos = await anioLectivoService.GetAllAsync();
    }

    private async void Eliminar(IEntityIdNombre entity)
    {
        var anioLectivo = (AnioLectivo)entity;
        SweetAlertResult respuesta = await SweetAlert.FireAsync(new SweetAlertOptions
            {
                Title = "Borrando Año Lectivo",
                Text = $"¿Está seguro que desea borrar el año lectivo {anioLectivo.Nombre}",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si, quiero borrarlo!",
                CancelButtonText = "No, espera"
            });
        if (respuesta.IsConfirmed)
        {
            await anioLectivoService.DeleteAsync(anioLectivo.Id);
            aniosLectivos = await anioLectivoService.GetAllAsync();
            StateHasChanged();
        }
    }
    private async Task Guardar()
    {
        aniosLectivos = await anioLectivoService.GetAllAsync();
        currentAnioLectivo = null;
        StateHasChanged();

    }
    private async Task Cancelar()
    {
        currentAnioLectivo = null;
    }
    private async Task Editar(IEntityIdNombre entity)
    {
        var anioLectivo = (AnioLectivo)entity;
        currentAnioLectivo = anioLectivo;
    }
}
