@page "/editarmateria"
@inject IMateriaService materiaService
@inject NavigationManager NavigationManager

@if (materia == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <h3>Editando materia de @nombreAnioCarrera </h3>
    <EditForm Model="materia" OnValidSubmit="GuardarMateria">
        <DataAnnotationsValidator />
        <label class="form-control mb-2" >Materia:</label>
        <InputText class="form-control mb-2" type="text" @bind-Value="materia.Nombre"/>
        <ValidationSummary />
        <button class="btn btn-primary mb-2" type="submit">Guardar</button>
        <button class="btn btn-primary mb-2" type="button" @onclick="@(()=>NavigationManager.NavigateTo($"/materias?idAnioCarrera={idAnioCarrera}&nombreAnioCarrera={nombreAnioCarrera}"))">Volver a la lista</button>
    </EditForm>
}
@code {
    [SupplyParameterFromQuery]
    [Parameter]
    public int idMateria { get; set; }

    [SupplyParameterFromQuery]
    [Parameter]
    public int idAnioCarrera { get; set; }

    [SupplyParameterFromQuery]
    [Parameter]
    public string? nombreAnioCarrera { get; set; }

    public Materia? materia { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        materia = await materiaService.GetByIdAsync(idMateria);
    }

    private async Task GuardarMateria()
    {
        await materiaService.UpdateAsync(materia);
        NavigationManager.NavigateTo($"/materias?idAnioCarrera={idAnioCarrera}&nombreAnioCarrera={nombreAnioCarrera}");
    }
}

