@page "/alumnos"
@inject IAlumnoService alumnoService

<PageTitle>Alumnos</PageTitle>

<ComponenteTitulo Titulo="Alumnos"/>

<p>Alumnos del sitio web.</p>

@if (students == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Apellido y Nombre</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.apellidoNombre</td>
                    <td>@student.telefono</td>
                    <td>@student.direccion</td>
                    <td>@student.email</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Alumno>? students;


    protected override async Task OnInitializedAsync()
    {
        students =  await alumnoService.Get();
    }


}
