<div class="container my-4">
    <div class="row">
        
            @foreach (var entity in ListEntity)
            {
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card text-center">
                        <div class="card-header">
                            @TituloCard
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@entity.Nombre</h5>
                            <p class="card-text"></p>
                        <button class="btn btn-primary" @onclick="()=>HandleSeleccionar(entity)">Seleccionar</button>
                        </div>
                        <div class="card-footer text-body-secondary">

                        </div>
                    </div>
                </div>
            }
    </div>
</div>



@code {
    [Parameter]
    public List<IEntityIdNombre> ListEntity { get; set; }

    [Parameter]
    public string TituloCard { get; set; }

    [Parameter]
    public EventCallback<int> OnSeleccionar { get; set; }

    private void HandleSeleccionar(IEntityIdNombre entity)
    {
        OnSeleccionar.InvokeAsync(entity.Id);
    }
}
