@inject IGenericService<Hora> horaService
@inject SweetAlertService SweetAlert


@if (horaEdit == null )
{
    <p><em>Cargando...</em></p>
}
else
{
    <div style="background-color: @(isEditing ? "lightyellow": "white")">
        <EditForm Model="horaEdit" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label">Hora:</label>
                    <InputText class="form-control mb-2" type="text" @bind-Value="horaEdit.Nombre" />
                </div>
                <ValidationSummary />
                <ButtonsGuardarCancelar isEditing="@isEditing"  OnCancelar="HandleCancelar" />
            </div>
        </div>
    </EditForm>
    </div>
}
@code {

    [Parameter]
    public EventCallback OnGuardar { get; set; }

    [Parameter]
    public EventCallback OnCancelar { get; set; }

    [Parameter]
    public Hora? Hora { get; set; }

    public Hora? horaEdit { get; set; }



    private bool isEditing => Hora != null;

    private List<Hora>? horas { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Hora == null)
        {
            horaEdit = new Hora();
        } else
        {
            Hora.CopyPropertiesTo(horaEdit);
        }


        StateHasChanged();
    }


    private async Task Guardar()
    {
        // logger.LogInformation($"la variable isEditing={isEditing} y el anio lectivo={anioLectivoEdit?.ToString()}");
        if (isEditing)
                await horaService.UpdateAsync(horaEdit);
            else
            await horaService.AddAsync(horaEdit);
       await OnGuardar.InvokeAsync();
    }

    private async Task HandleCancelar()
    {
        await OnCancelar.InvokeAsync();
    }
}

